services:
  frontend:
    build: .
    restart: unless-stopped
    ports:
      - "8080:80"
    environment:
      TZ: "America/Sao_Paulo"
    volumes:
      - caddy_data:/data
      - caddy_config:/config
    networks:
      - runcodes-network

networks:
  runcodes-network:
    driver: bridge

volumes:
  caddy_data:
  caddy_config:
