services:
  frontend:
    build: ./frontend/
    restart: unless-stopped
    ports:
      - "8080:80"
    environment:
      TZ: "America/Sao_Paulo"
      RUNCODES_DOMAIN: "http://localhost:80"
      VITE_API_ENDPOINT: "http://localhost:8443"
    volumes:
      - caddy_data:/data
      - caddy_config:/config
    networks:
      - runcodes-network

  backend:
    build: ./backend/
    restart: unless-stopped
    ports:
      - "8443:8443"
    networks:
      - runcodes-network
    environment:
      TZ: "America/Sao_Paulo"
      RUNCODES_API_PORT: "8443"
      RUNCODES_DB_HOST: "database"
      RUNCODES_DB_PORT: "5432"
      RUNCODES_DB_USER: "runcodes"
      RUNCODES_DB_PASSWORD: "secret_password"
      RUNCODES_DB_NAME: "runcodes"

  # Compiler Engine
  rcc:
    image: ghcr.io/runcodes-icmc/compiler-engine:latest
    restart: unless-stopped
    environment:
      TZ: "America/Sao_Paulo"
      RUNCODES_COMPILER_EXEC_DIR: /exec
      RUNCODES_COMPILER_EXEC_DIR_REMOTE: ${PWD}/exec
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./exec:/exec
    networks:
      - runcodes-network

  # PostgreSQL Database
  database:
    image: ghcr.io/runcodes-icmc/database:latest-development
    restart: unless-stopped
    environment:
      TZ: "America/Sao_Paulo"
      POSTGRES_PASSWORD: secret_password
    volumes:
      - runcodes-db-vol:/var/lib/postgresql/data
    networks:
      - runcodes-network

  # Local SMTP server for intercepting e-mails
  smtp4dev:
    image: rnwood/smtp4dev:v3.12
    restart: unless-stopped
    ports:
      - "8081:80"
    environment:
      TZ: "America/Sao_Paulo"
    networks:
      - runcodes-network

  # Redis for cache & session management
  redis:
    image: redis:8-alpine
    restart: unless-stopped
    environment:
      TZ: "America/Sao_Paulo"
    volumes:
      - runcodes-redis-vol:/data
    networks:
      - runcodes-network

  ###########
  # Seaweed #
  ###########

  seaweed:
    image: chrislusf/seaweedfs:4.03
    ports:
      - 8333:8333
    environment:
      TZ: "America/Sao_Paulo"
    command: server -s3 -volume.max=50 -dir="/data" -master.volumeSizeLimitMB=256 -ip=seaweed -ip.bind=0.0.0.0
    volumes:
      - runcodes-seaweed-vol:/data
    networks:
      - runcodes-network

networks:
  runcodes-network:
    driver: bridge

volumes:
  caddy_data:
  caddy_config:
  runcodes-db-vol:
  runcodes-redis-vol:
  runcodes-seaweed-vol:
