# This is an example file for dev environments, modify it for production
HOST="development" # set to "production" in production environment
RUNCODES_JWT_SECRET=mySecretKey-10101
RUNCODES_API_PORT=8443
RUNCODES_DB_HOST=localhost
RUNCODES_DB_PORT=5432
RUNCODES_DB_USER=runcodes
RUNCODES_DB_PASSWORD=asdasd33
RUNCODES_DB_NAME=runcodes
