# This is an example file for dev environments, modify it for production
RUNCODES_JWT_SECRET='YourSuper-Dup3r$ecure-S3cret'
RUNCODES_API_PORT=8443
RUNCODES_DB_HOST=127.0.0.1
RUNCODES_DB_PORT=5432
RUNCODES_DB_USER=runcodes
RUNCODES_DB_PASSWORD='YourSuperDuper-$3curePa$$'
RUNCODES_DB_NAME=runcodes
