services:
  # PHP Application Itself
  backend:
    build: .
    restart: unless-stopped
    networks:
      - runcodes-network
    environment:
      TZ: "America/Sao_Paulo"
      RUNCODES_API_PORT: "8443"
      RUNCODES_DB_HOST: "database"
      RUNCODES_DB_PORT: "5432"
      RUNCODES_DB_USER: "runcodes"
      RUNCODES_DB_PASSWORD: "secret_password"
      RUNCODES_DB_NAME: "runcodes"

  # PostgreSQL Database
  database:
    image: ghcr.io/runcodes-icmc/database:latest-development
    restart: unless-stopped
    environment:
      TZ: "America/Sao_Paulo"
      POSTGRES_PASSWORD: secret_password
    volumes:
      - runcodes-db-vol:/var/lib/postgresql/data
    networks:
      - runcodes-network


networks:
  runcodes-network:
    driver: bridge

volumes:
  runcodes-db-vol:
